/* Navbar */
.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.section {
}

/* image */
.TextHero {
  color: whitesmoke;
  font-size: 50px;
}

/* Tentang kami */

.boxAbout {
  margin: 30px;
}

.gambarAbout {
  object-fit: cover;
  height: 210px;
  width: 210px;
  padding-bottom: 30px;
}

.About {
  margin-left: 93px;
}
/* galeri */
.imagesGalery {
  object-fit: cover;
  display: flex;
}

.galeriImage {
  margin: 70px 50px;
}

/*artikel*/
.topArtikel {
  margin: 45px 100px -5px;
  font-size: 23px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.tulisanArtikel {
  font-size: 17px;
  padding-top: 100px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gambarArtikel {
  float: left;
  margin: 0 20px 0;
  height: 500px;
  width: 700px;
  object-fit: contain;
}
.gambarArtikelDua {
  float: right;
  margin: 0 20px 0;
  height: 500px;
  width: 700px;
  object-fit: contain;
}

.boxArtikel {
  height: 500px;
}

/* Footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerDua {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer {
  background-color: #7f8487;
  padding: 12px;
}

.footer .containerDua .rowDua .footer-col a {
  color: #383838;
  font-weight: 500;
}

.rowDua {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 1.5px;
  box-sizing: border-box;
  width: 260px;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  margin-left: -32px;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blue;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}

/* Contact */

.heroImageContact {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.contactDua {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
}

.boxContact {
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.boxContact .text h3 {
  font-size: 25px;
  color: black;
}

.boxContact .text p {
  color: black;
}

.boxContact .contactInfo {
  width: 150%;
  display: flex;
  flex-direction: column;
}

.boxContact .contactInfo .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
}

.boxContact .contactInfo .box .icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin: 1px;
}
.boxContact .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.boxContact .contactInfo .box .text h3 {
  font-weight: 500;
}

.contactForm {
  width: 100%;
  padding: 40px;
  background-color: white;
  border-radius: 25px;
}
.contactForm h2 {
  font-size: 25px;
  font-weight: 500px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #383838;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #383838;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span {
  color: red;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 70px;
  background-color: #7f8487;
  color: black;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px;
  font-size: 13px;
}

/* Isi Galery */

.judulGalery {
  text-align: center;
  padding-top: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.containerGalery {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.cardGalery {
  margin: 0 435px 50px;
  object-fit: contain;
  width: 50rem;
}

/* FAQ */

.faq_text {
  padding: 5px;
}

.containerFaq {
  height: auto;
  padding: 30px;
}

/* Prices */

.pricing-plan-containerPrices {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  margin-bottom: -10px;
  margin-top: 40px;
}

.pricing-plan {
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 0 5px black;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  margin: 15px;
}

.pricing-plan__header {
  padding: 25px;
  background-color: #009578;
  color: white;
}

.pricing-plan__title,
.pricing-plan__summary {
  margin: 0 0 20px;
  text-align: center;
}

.pricing-plan__title {
  font-size: 1.5em;
  font-weight: 400;
}

.pricing-plan__summary {
  font-size: 1em;
  font-weight: 300;
}

.pricing-plan__description {
  padding: 25px;
}

.pricing-plan__list {
  padding: 0;
  margin: 0;
}

.pricing-plan__features {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  position: relative;
  font-size: 0.9em;
}

.pricing-plan__features:not(last-child) {
  margin-bottom: 0.5em;
}

.pricing-plan__features::before {
  content: "\2714";
  color: #009578;
  position: absolute;
  left: 0;
}

.pricing-plan__actions {
  padding: 25px;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
}

.pricing-plan__button {
  display: inline-block;
  margin: 15px auto;
  padding: 8px 20px;
  text-decoration: none;
  color: #009578;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #009578;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: bold;
}

.pricing-plan__button:hover {
  background: #009578;
  color: #ffffff;
}

.pricing-plan__cost {
  margin: 0;
  text-align: center;
  font-size: 2em;
  color: black;
}

.pricing-plan__text {
  font-size: 0.9em;
  text-align: center;
  margin: 0 0 10px 0;
}

.pricing-plan--highlighted {
  box-shadow: 0 0 15px black;
  transform: scale(1.05);
}

.pricing-plan__special-text {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #009578;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

/* Our Services */

.wrapperServices {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e1e8eb;
}

.wrapperServices h1 {
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-weight: 500;
}

.wrapperServices p {
  padding: 10px;
}

.boxServices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}

.cardServices {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 10px 10px 25px black;
}

.cardServices h1 {
  margin: 20px;
  color: #009578;
}

.cardServices h2 {
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
}

.cardServices p {
  color: #383838;
  text-align: center;
}

.cardServices:hover h1,
.cardServices:hover p {
  color: #fff;
}

.cardServices:hover h2 {
  font-weight: 600;
  color: #f2f2f2;
}

.cardServices:nth-child(1):hover {
  background: linear-gradient(
    45deg,
    rgba(255, 28, 8, 0.8) 0%,
    rgba(255, 0, 82, 0.8) 100%
  );
}
.cardServices:nth-child(2):hover {
  background: linear-gradient(
    45deg,
    rgba(255, 28, 8, 0.8) 0%,
    rgba(255, 0, 82, 0.8) 100%
  );
}
.cardServices:nth-child(3):hover {
  background: linear-gradient(
    45deg,
    rgba(255, 28, 8, 0.8) 0%,
    rgba(255, 0, 82, 0.8) 100%
  );
}
.cardServices:nth-child(4):hover {
  background: linear-gradient(
    45deg,
    rgba(255, 28, 8, 0.8) 0%,
    rgba(255, 0, 82, 0.8) 100%
  );
}
.cardServices:nth-child(5):hover {
  background: linear-gradient(
    45deg,
    rgba(255, 28, 8, 0.8) 0%,
    rgba(255, 0, 82, 0.8) 100%
  );
}
.cardServices:nth-child(6):hover {
  background: linear-gradient(
    45deg,
    rgba(255, 28, 8, 0.8) 0%,
    rgba(255, 0, 82, 0.8) 100%
  );
}
