/* Navbar */
.heroImage {
  max-height: 1200px;
  object-fit: cover;
  filter: brightness(50%);
}

.section {
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  background-color: aqua;
}

/* image */
.winner {
  object-fit: cover;
}

/* Tentang kami */
.gambarAbout {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.About {
  margin-left: 93px;
}
/* galeri */
.imagesGalery {
  object-fit: cover;
  display: flex;
}

.galeriImage {
  margin: 70px 50px;
}

/*artikel*/
.topArtikel {
  margin: 100px;
  font-size: 23px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.tulisanArtikel {
  font-size: 17px;
  margin: 20px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gambarArtikel {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 500px;
  width: 800px;
  object-fit: cover;
}
.gambarArtikelDua {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 500px;
  width: 800px;
  object-fit: cover;
}

.boxArtikel {
  height: 600px;
}

/* Footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerDua {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer {
  background-color: #7f8487;
  padding: 70px 0;
}

.footer .containerDua .rowDua .footer-col a {
  color: #383838;
  font-weight: 500;
}

.rowDua {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 1.5px;
  box-sizing: border-box;
  width: 260px;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  margin-left: -32px;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blue;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}

/* Contact */

.contactDua {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
}

.boxContact {
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.boxContact .text h3 {
  font-size: 25px;
}

.boxContact .contactInfo {
  width: 150%;
  display: flex;
  flex-direction: column;
}

.boxContact .contactInfo .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
}

.boxContact .contactInfo .box .icon {
  width: 48px;
  height: 48px;
  background-color: #7f8487;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin: 1px;
}
.boxContact .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.boxContact .contactInfo .box .text h3 {
  font-weight: 500;
}

.contactForm {
  width: 100%;
  padding: 40px;
  background-color: white;
  border-radius: 25px;
}
.contactForm h2 {
  font-size: 25px;
  font-weight: 500px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #383838;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #383838;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span {
  color: red;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 70px;
  background-color: #7f8487;
  color: black;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px;
  font-size: 13px;
}

/* Isi Galery */

.judulGalery {
  text-align: center;
  padding: 40px;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.containerGalery {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cardGalery {
  display: flex;
  position: relative;
  margin: 20px;
}

.img-title {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.img-title p {
  text-align: center;
  color: black;
  position: relative;
  top: 500px;
}

.textH3Galery {
  text-align: center;
  color: black;
  position: relative;
  top: 500px;
}

/* FAQ */

main {
  max-width: 800px;
  margin: 5vh auto;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 40px;
  color: #383838;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
  color: #5e5d5d;
}

.faq {
  padding: 20px 30px;
  border: 2px solid black;
  border-radius: 15px;
  color: #979797;
  position: relative;
  line-height: 1.5em;
  margin-top: 15px;
}

.faq .faq_text {
  width: 90%;
}

.btn {
  color: #398ab9;
  position: absolute;
  right: 25px;
  top: 35px;
  font-weight: 400;
  font-size: 1.4em;
  cursor: pointer;
}

/* Hide p tags */
.faq.open h3 {
  color: #398ab9;
}

.faq p {
  display: none;
  font-weight: 300;
}

.faq.open p {
  display: block;
}
.faq.open .btn {
  color: #398ab9;
}

.containerFaq {
  height: 1000px;
}
